body {
    font-size: 0.875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

/* Base styles for the sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding-top: 48px;
    background-color: #102a43;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    overflow-y: auto;
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: sticky;
    top: 0;
    height: calc(100vh - 48px);
}

.sidebar .nav-link {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    stroke: currentColor;
}

.nav-link.active {
    font-weight: bold;
    color: #fff;
    background-color: #1c64f2;
}

.submenu.show {
    display: block;
}



.sidebar .nav-link:hover {
    color: #fff;
    background-color: #0369a1;
    border-radius: 4px;
}
.sidebar .nav-link.active {
    color: #fff;
    background-color: #014569;
    border-radius: 4px;
}

.sidebar .nav-link:hover,
.sidebar .nav-link:hover .feather {
    color: #fff;

    text-decoration: none;
}


.submenu .nav-link {
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;
}

.submenu .nav-link:hover {
    background-color: #1a5a80;
    color: #fff;
}


.submenu .nav-link.active {
    color: #fff;
    background-color: #014569;
    border-radius: 4px;
}

/* .nav-link.reservasi.active,
.nav-link.reservasi[aria-expanded="true"] {
    background-color: #014569;
} */

/* .nav-link.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
} */


.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: rgba(254, 254, 254, 0.5);
    padding: 5px 15px 5px 15px;

    margin-left: -10px;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
    top: 0.25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.sticky-footer {
    width: 100%;
    color: black;
    padding: 15px;
    text-align: center;
    position: fixed;
}

.copyright {
    font-size: 14px;
}
